<a href="https://colab.research.google.com/github/Oruka01/Food-Sale-Predictions/blob/main/Project_2_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Mounting the drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
# Loading the first choice data and showing the head
First_choice_data = '/content/drive/MyDrive/c2k_data_comma.csv'
df = pd.read_csv(First_choice_data)
df.head()

,nr,i1_legid,i1_rcs_p,i1_rcs_e,i1_dep_1_p,i1_dep_1_e,i1_dep_1_place,i1_rcf_1_p,i1_rcf_1_e,i1_rcf_1_place,...,o_dep_3_p,o_dep_3_e,o_dep_3_place,o_rcf_3_p,o_rcf_3_e,o_rcf_3_place,o_dlv_p,o_dlv_e,o_hops,legs
0,0.0,5182.0,199.0,218.0,210.0,215.0,609.0,935.0,736.0,256.0,...,?,?,?,?,?,?,780.0,434.0,1.0,2.0
1,1.0,6523.0,844.0,584.0,90.0,297.0,700.0,1935.0,1415.0,431.0,...,?,?,?,?,?,?,3870.0,445.0,1.0,2.0
2,2.0,5878.0,4380.0,4119.0,90.0,280.0,456.0,905.0,547.0,700.0,...,?,?,?,?,?,?,550.0,1520.0,1.0,1.0
3,3.0,1275.0,759.0,169.0,240.0,777.0,173.0,340.0,577.0,349.0,...,?,?,?,?,?,?,3780.0,159.0,1.0,1.0
4,4.0,8117.0,1597.0,1485.0,150.0,241.0,411.0,585.0,612.0,128.0,...,?,?,?,?,?,?,4140.0,4797.0,2.0,1.0


source of the data is

In [ ]:
# https://archive.ics.uci.edu/ml/datasets/Real+estate+valuation+data+set

# Original Owner and Donor
# Name: Prof. I-Cheng Yeh
# Institutions: Department of Civil Engineering, Tamkang University, Taiwan.
# Email: 140910 '@' mail.tku.edu.tw
# TEL: 886-2-26215656 ext. 3181-

In [5]:
# Loading the first choice data and showing the head
First_choice_data = '/content/drive/MyDrive/Real estate valuation data set.xlsx'
df = pd.read_excel(First_choice_data)
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.916667,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583333,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500000,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833333,5.0,390.56840,5,24.97937,121.54245,43.1

 2) Brief description of data

In [ ]:
# The market historical data set of real estate valuation are collected from Sindian Dist., New Taipei City, Taiwan
# The data set was randomly split into the training data set (2/3 samples) and the testing data set (1/3 samples).

3) What is the target?

In [ ]:
# the target is Y= house price of unit area

4) Is this a classification or regression problem?

In [ ]:
# This is a Regression problem

5) How many features?

In [ ]:
# There are 8 features

# 6) How many rows of data.

In [10]:
df.shape

(414, 8)

7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?

In [12]:
df.info()
# From the info, i foresee no challenges in cleaning the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   No                                      414 non-null    int64
 1   X1 transaction date                     414 non-null    float64
 2   X2 house age                            414 non-null    float64
 3   X3 distance to the nearest MRT station  414 non-null    float64
 4   X4 number of convenience stores         414 non-null    int64
 5   X5 latitude                             414 non-null    float64
 6   X6 longitude                            414 non-null    float64
 7   Y house price of unit area              414 non-null    float64
dtypes: float64(6), int64(2)
memory usage: 26.0 KB

Second choice: dataset 2

In [15]:
# Loading the second choice data and showing the head
First_choice_data = '/content/drive/MyDrive/in-vehicle-coupon-recommendation.csv'
df = pd.read_csv(First_choice_data)
df.head()

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,0
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,1
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0

1) Source of data

In [ ]:
# https://archive.ics.uci.edu/ml/datasets/in-vehicle+coupon+recommendation
# Tong Wang, tong-wang '@' uiowa.edu, University of Iowa
# Cynthia Rudin, cynthia '@' cs.duke.edu, Duke University

2) Brief description of data

In [ ]:
# Abstract: This data studies whether a person will accept the coupon recommended to him
#  in different driving scenarios

3) What is the target?

In [ ]:
# the traget is Y:1, 0 (whether the coupon is accepted)

4) Is this a classification or regression problem?

In [ ]:
# This is a classification problem

5) How many features?

In [16]:
df.shape
# There are 26 features

(12684, 26)

6) How many rows of data.

In [ ]:
# there are 12684 rows

7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?

In [18]:
df.info()
# From the info below, i have to deal with missing values, irrelevant rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12684 entries, 0 to 12683
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   destination           12684 non-null  object
 1   passanger             12684 non-null  object
 2   weather               12684 non-null  object
 3   temperature           12684 non-null  int64
 4   time                  12684 non-null  object
 5   coupon                12684 non-null  object
 6   expiration            12684 non-null  object
 7   gender                12684 non-null  object
 8   age                   12684 non-null  object
 9   maritalStatus         12684 non-null  object
 10  has_children          12684 non-null  int64
 11  education             12684 non-null  object
 12  occupation            12684 non-null  object
 13  income                12684 non-null  object
 14  car                   108 non-null    object
 15  Bar                   12577 non-null  object
 16  CoffeeHouse           12467 non-null  object
 17  CarryAway             12533 non-null  object
 18  RestaurantLessThan20  12554 non-null  object
 19  Restaurant20To50      12495 non-null  object
 20  toCoupon_GEQ5min      12684 non-null  int64
 21  toCoupon_GEQ15min     12684 non-null  int64
 22  toCoupon_GEQ25min     12684 non-null  int64
 23  direction_same        12684 non-null  int64
 24  direction_opp         12684 non-null  int64
 25  Y                     12684 non-null  int64
dtypes: int64(8), object(18)
memory usage: 2.5+ MB

0        False
1        False
2        False
3        False
4        False
         ...
12679    False
12680    False
12681    False
12682    False
12683    False
Length: 12684, dtype: bool